body {
	font-family:"PT Sans", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	line-height: 150%;
	color: #444444;
	min-width: 968px;
	min-height: 933px;
}

/*body {
	background-size: 1200px auto;
	font-family: "PT Sans Narrow", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	background-color: #fdfaf7;
	
}*/


h3 {
	font-weight: bold;
	color:#000000;
}

.sedona-welcome {
	width: 100%;
/*	height: auto;*/
}

  .container {
	width: 768px;
	border: solid purple;
	margin: 0 auto;
  	/*padding: 0 10px;*/
}


.filter-item-left-title {
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;
	}

.main-header {
	background-color: #ffffff; 
	outline: solid yellow;
	width: 768px;
	margin:0 auto;
}

.main-header .container {
	width: 768px;
	outline: solid red;
}
.sedona-items {
	list-style-type:none;
}

.main-navigation > ul > li {
	display: inline;
	margin-top:20px; 
}
.main-navigation > ul > li:nth-child(1) {
	margin-right: 61px;
	margin-left: 10px;
}
.main-navigation > ul > li:nth-child(2) {
	margin-right: 182px;
}
.main-navigation > ul > li:nth-child(3) {
	margin-right:61px;
}
.main-navigation > ul > li:nth-child(4) {
	margin-right:56px;
}

.main .container {
	margin: 0 auto;
	width:  100%;
	height: 2588px;
}

.filter-items {
	background: #069ecc url("../img/filters_background.jpg") no-repeat center top;
}

.filter-items-left {
	vertical-align: top;
	display: inline-block;
	outline:solid green;
	margin-top:32px;
	margin-right: 100px;
	height: 185px;
	margin-left: 46px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.clearfix::after {
  content: "";
  display:table;
  clear:both;
}

.filter-items-right {
	display: inline-block;
	outline: solid green;
	margin-top: 32px;
}

.ilter-item-left-title {
	font-size: 16px;
	line-height: 21px;

}

.filter-items-lefter {
	vertical-align: top;
	margin-right: 75px;
	display: inline-block;
	outline: solid yellow;
	margin-top:32px;
	color:#ffffff;
	font-weight: 14px;
	line-height: 21px;
}

.filter-item-left-title {
	margin-bottom: 30px;
}

.items-checkbox {
	margin-bottom: 24px;
}

label .swimming-pool {
	margin-bottom: 24px;
}

.swimming-pool {
	float:left;
}

.hotels-types-filters {
	outline: solid green;
}
.hotels-types-content {
	outline:solid purple;
	margin-left: 46px; 
}

.hotels-types-content > a {
	display: inline-block;
}

.hotels-types-content > h3, h2 {
	display: inline-block;
}
.found-title {
	margin-right: 49px;
}
.hotels-sort {
	margin-right: 40px;
}

.hotels-types-content > a {
	margin-right: 40px;
	margin-top:36px;
	margin-bottom: 36px;
}

.hotels-middle-block {
	display: inline-block;
	vertical-align: top;
	margin-top: 32px;
	outline: solid yellow;
	width: 276px;
	height: 93px;
}


.hotels-content {
	margin-left: 46px;
	outline: solid gray;
}

.hotels-block-left {
	display: inline-block;
	vertical-align: top;
	margin-top: 32px;
	margin-right: 32px;	
}
.hotels-middle-block > h2 {
	display: inline-block;
}


.stars-rating {
	margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.stars-rating > li {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    outline: solid red; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.hotels-right-block {
	margin-right: 46px;
	margin-top: 32px;
	float: right;
}


.hotel-one-title {
	margin-bottom: 18px;
}

.total-hotel-rating {
	position: relative;
	top: 50px;
}